@model E_Ticaret_2023.Models.Urunler

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Urunler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UrunAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KategoriID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KategoriID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrunAciklamasi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunAciklamasi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrunFiyati)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunFiyati)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UrunID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
